<%- include('partials/header') -%>
  <div class="container">

    Nabe
    
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
            <li class="gridbox">
              <a href="/post/<%= posts[i]._id%>">
                <img class="img-fluid" src="<%= posts[i].image%>">
              </a>
              <h4 class="caption"><%= posts[i].Nabe %>, <%= posts[i].City %> </h4>
              <h4 class="caption"><%= posts[i].Store %>, $<%= posts[i].Price %> </h4>
            </li>
        <% } %>
        </ul>

  </div>  
<%- include('partials/footer') -%>